/**
 * Footer v2
 */
.site-footer.footer-v2 {
  padding-top: 4.125em;
  padding-bottom: 4.125em;

  color: #ddd;
  background-color: #232d35;
  .footer-contact-form {
    @include make-column;
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(6);
    @include make-lg-column(6);
  }
  .footer-store-info,
  .footer-contact-info {
    @include make-column;
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(3);
    @include make-lg-column(3);
  }
  .footer-store-info {
    #pizzaro-logo,
    a img {
      width: 140px;
    }
    .store-timings,
    .social-icon-text {
      font-size: .938em;
    }
    .social-icons {
      display: inline-block;
      float: right;
    }
  }
  .footer-logo {
    margin: 0;
    margin-bottom: 2.188em;
    .site-title {
      margin: 0;
    }
    .site-description {
      color: #888;
    }
    .custom-logo-link .custom-logo {
      margin: 0;
    }
  }
  ul.store-timings {
    margin: 0;
    margin-bottom: 1.250em;
    padding: 0;

    list-style: none;
    > li {
      @include clearfix;
    }
    .store-timing-label {
      float: left;
    }
    .store-timing-value {
      float: right;
    }
  }
  ul.social-icons {
    margin: 0;
    padding: 0;
    > li {
      display: inline-block;
      a {
        font-size: 1.2em;

        color: #c8cacc;

        @include hover-focus {
          color: #fff;
        }
      }
      & + li {
        margin-left: 1.750em;
      }
    }
  }
  .footer-contact-form {
    .contact-form {
      position: absolute;
      bottom: -32px;
      left: 50%;

      width: 83%;
      margin: 0 auto;
      padding: 2.875em 2.188em 2.375em 2.188em;

      transform: translateX(-50%);

      background-color: #fff;
      label {
        display: none;
      }
      form {
        margin: 0;
        .form-control {
          height: 50px;
          padding-left: 23px;

          border-color: #ccc;
          box-shadow: none;
          &:focus {
            border-color: #ccc;
          }
        }
        textarea.form-control {
          height: auto;
          margin-bottom: 26px;
          padding: 15px 25px;

          border-radius: 20px;
        }
        .button {
          font-size: .938em;

          padding: .867em 2.18em;

          background-color: #b8b8b8;
          &:hover {
            background-color: darken(#b8b8b8, 30%);
          }
        }
      }
      .contact-form-title {
        font-family: $secondary-font;
        font-size: 2.250em;
        font-weight: normal;

        margin-bottom: 1em;
        padding-bottom: .444em;

        text-align: center;

        color: #393939;
        border-bottom: 1px dashed #c2c1c0;
      }
    }
  }
  .footer-contact-info {
    .address {
      margin: 0;
      padding: 0;

      list-style: none;
      > li {
        margin-bottom: 28px;

        @include clearfix;
        i {
          display: block;
          float: left;

          width: 40px;
        }
        .address-text {
          font-size: .938em;
          line-height: 1.6;

          display: block;
          float: left;

          width: calc( 100% - 40px );
        }
        .fa {
          font-size: 28px;
          line-height: 28px;
          &::before {
            margin-left: 8px;
          }
        }
        .po {
          font-size: 24px;
          line-height: 28px;
        }
        .po-mail-icon {
          font-size: 22px;
          &::before {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.footer-v2 + .site-info {
  margin: 0;
  padding: 2.188em 0;

  background-color: #131b21;
  .copyright {
    font-size: .875em;

    text-align: center;

    color: #919293;
    a {
      color: #919293;
    }
  }
}

.footer-map {
  height: 462px;

  background-color: #cbcbcb;
  iframe {
    width: 100%;

    border: none;
  }
}

.footer-about-info {
  padding-top: 46px;
  padding-bottom: 10px;

  background-color: #f5f5f5;
  .image img {
    position: relative;
    top: -76px;
  }
  h2 {
    font-size: 1.5em;

    margin-bottom: 1.542em;

    color: #2d2b2d;
  }
  .content {
    padding-left: 20px;
  }
  p {
    margin-bottom: 1.8em;

    color: #666;
  }
  a {
    font-size: .86em;

    color: #6d6d6d;
  }
}
