
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=3539b80b2a80b02fc5f23b222813ab81
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress