/**
 * WooCommerce Mix and Match
 */

/**
 * Imports
 */


@import '../../bourbon/bourbon';
@import '../../susy/susy';

@import '../../utils/variables';

@import '../../vendors/font-awesome/variables';
@import '../../vendors/font-awesome/mixins';

@import '../../utils/mixins';
@import '../../vendors/modular-scale';


.quick-view-button {
	span {
		display: none;
	}

	&:before {
		@include fa-icon();
		content: "\f06e";
		margin-right: ms(-2);
	}
}

div.quick-view div.quick-view-image a.button {
	@include button();
	line-height: inherit;
	display: block;
}
