
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=654d2a878495cbb81680eb067baa4697
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress